/* 變數 */
:root {
    --primary: #73c0f4;
    --secondary: #f3e4c6;
    --dark: #000;
    --light: #fff;
    --bg: #e6eff3;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.btn-custom {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1.1rem;
  font-weight: 700;
  color: #ffffff;
  background: #ff6600;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn-custom:hover {
  background: #f3e4c6;
}

/* 購物車 */
.step {
    border:1px solid var(--primary);
    border-radius:30px;
    padding:8px 12px;
    color: var(--dark);
}
.step-now {
    background-color: var(--primary);
}
.line {
    border-top:1px solid var(--primary);
    margin-top: 10px;
    width: 300px;
}