/* 變數 */
:root {
    --primary: #73c0f4;
    --secondary: #f3e4c6;
    --dark: #000;
    --light: #fff;
    --bg: #e6eff3;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}



.btn-custom {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1.1rem;
  font-weight: 700;
  color: #4169e1;
  background: #eef4ed;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn-custom:hover {
  background: #ff6b35;
  color:#4169e1;
}

/* navbar */
.navbar {
    background: #ff6b35;
    padding: 15px 30px;
}

.navbar .navbar-brand {
    font-size: 2rem;
    font-weight: 900;
    color:var(--light);
}

.navbar .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-decoration: none;
    color:black
}

.navbar .navbar-user {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

/* footer */
.footer {
background-color:#eef4ed;
}

/* 購物車 */
.step {
    border:1px solid var(--primary);
    border-radius:30px;
    padding:8px 12px;
    color: var(--dark);
}
.step-now {
    background-color: var(--primary);
}
.line {
    border-top:1px solid var(--primary);
    margin-top: 10px;
    width: 300px;
}

/* sidebar */
.sidebar {
  /* outline: 1px solid blue; */
  position:fixed;
  right:10px;
  top: 50%;
  width:70px;
  background-color: #ff6600;
  color: green;
}